*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* add line height */
line-height: 1.5;
/* have no idea  */
-webkit-font-smoothing: antialiased;
}
img {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
/* text overflow stop */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/* line wrapping improve  */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  