body{
    background: #f6f4f6;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
    
}

.section,.nav,.nav ul{
    display: flex;
}
.section{
    width: 75vw;
    margin: 0 auto;
    flex-direction: column;
}
/* Header Logo - Buy/.one - */
.oneContainer{
    background-color: #dbdbd798;
}
.logo{
    font-size: 1.4rem;
    
}

.nav{
   
    justify-content: space-between;
    align-items: center;
    height: 50px;
   
}
.nav ul{
    gap:10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav ul a{
    
    text-decoration: none;
    color: #000;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.welcome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    
    height: 30vh;
    

}
.welcome .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    
}
.content h1{
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 10px;

}
.content p{
    max-width: 30vw;
    width: 40vw;
    margin: 0;
    /* width: 400px; */
    
}
.content a{
    text-decoration: none;
    color: #4b4b4b;
}
.welcome-img{
 width: 400px;
 height: 150px;
 object-fit: cover;
 background-color: #6060607a;
 flex-shrink: 0;
 border-radius: 5px;
}
.two{
    
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    height: 50vh;
    


}
.designs {
    display: flex;
   padding: 0 20px;
   gap: 10px;
  
   

} 
.designs .design{
 
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;


 justify-content: center;
 
 

}

.design img{
   
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    border: 2px solid green;
   
   
}
.design .text{
    
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    max-height: 100px;
    overflow: hidden;

}
.threeContainer{
    
    background-color: #4b4b4b12;
  
}
.three,.four{
    flex-direction: row;
    padding: 60px;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.three .purpose p{
   font-size: 1.5rem;
   text-align: center;

}
.action span{
    display: flex;
}
.four .action{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
   padding: 20px;
   width:70%;
   background-color: #4b4b4b32;
    border-radius: 10px;
    gap:20px
}
.read .big{
    font-size: 1.1rem;
    font-weight: 600;
}
.read .small{

}
.action .buttons{
    display: flex;
    
  
}

.buttons button{
    color: #fff;
    border: none;
    background-color: #4b4b4b;
    padding: 5px 4vw;
    border-radius: 5px;

}
.fiveContainer{
    background-color: #4b4b4b;


}
.five{
    height: 15vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    }
   
    .bottom{
        display: flex;
        justify-content: space-between;

    }
    .copyright{
        margin: 0;
    
        
    }
    .social{
        display: flex;
        gap: 10px;
        
        
    }
    .social img{
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 50%;
    }
  
   
    @media(max-width:1100px){
        .nav ul{
           font-size: 15px; 
           gap: 0;

        }
        .nav ul a{
            padding: 1vw;
        }
        .content h1{
            font-size: 1.6rem;
        }
        .content p{
            min-width: 20vw;
            font-size: 14px;
        }
        .welcome-img,.welcome-img img{
            width: 30vw;
            
        }
        .action{
            height: 5vh;
            
        }
    }