*{
    --text-color:#fff;
    --color01:#ffe169;
    --color03:#e4ae2d;
    --color04:#91720b;
    --color05:#c9a227;
    --color06:#c79006;
    --raleway: "Raleway", sans-serif;
    --poppins: "Poppins", sans-serif;
    --roboto-flex:"Roboto Flex", sans-serif;
}
body{
    background: #f6f4f6;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
    
}

.section,.nav,.nav ul{
    display: flex;
}
.section{
    width: 75vw;
    margin: 0 auto;
    flex-direction: column;
}
/* Header Logo - Buy/.one - */
.oneContainer{
    background-color: #dbdbd798;
    background-color: var(--color06);
    color: #fff;
}
.logo{
    font-size: 1.4rem;
    
    
}

.nav{
   
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: var(--raleway);
    
   
}
.nav ul{
    gap:10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav ul a{
    
    text-decoration: none;
    color:#fff;
    
    display: flex;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.welcome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    
    height: 30vh;
    
    

}
.welcome .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    
}
.content h1{
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: var(--raleway);

}
.content p{
    max-width: 30vw;
    width: 40vw;
    margin: 0;
    font-family: var(--roboto-flex);
    font-weight: 400;
    /* width: 400px; */
    
}
.content a{
    text-decoration: none;
    background-color: #76520e;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px 15px;
    width: 80px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.img{
    width: 50vw;
 height: 20vh;
 padding: 10px 0;

}
.welcome-img {
 width: 100%;
 height: 100%;
 object-fit:cover;
 background-color: #6060607a;
 flex-shrink: 0;
 border-radius: 5px;
}
.two{
    
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
    height: 50vh;
    gap: 20px;
    font-family: var(--roboto-flex);
    


}
.two h2{
    font-family: var(--poppins);
    font-weight: 500;
}
.designs {
    display: flex;
   padding: 0 20px;
   gap: 10px;
  
   

} 
.designs .design{
 
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;


 justify-content: center;
 
 

}

.design img{
   
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--color01);
   
   
}
.design .text{
    
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    max-height: 100px;
    overflow: hidden;

}
.threeContainer{
    
    background-color: #4b4b4b12;
  
}
.three,.four{
    font-family: var(--roboto-flex);
    flex-direction: row;
    padding: 60px;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.three .purpose p{
   font-size: 1.5rem;
   text-align: center;

}
.action span{
    display: flex;
}
.four .action{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
   padding: 20px;
   width:70%;
   background-color: #4b4b4b32;
    border-radius: 10px;
    gap:20px;
    background-color: var(--color03);
    
}

.read .big{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.read .small{
text-transform: capitalize;
}
.action .buttons{
    display: flex;
    
  
}

.buttons button{
    color: #fff;
    background-color: var(--color04);

    border: 3px solid #fff;
    font-size: 1.1rem;
    padding: 5px 4vw;
    border-radius: 5px;

}
.fiveContainer{
    background-color: var(--color06);
    


}
.five{
    font-family: var(--roboto-flex);
    height: 15vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }
   
    
    .copyright{
        margin: 0;
        font-family: var(--raleway);
        font-size: 2rem;
    
        
    }
    .social{
        display: flex;
        gap: 10px;
        
        
        
    }
    .social img{
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 50%;
    }
  
   
    @media(max-width:1100px){
        .nav ul{
           font-size: 15px; 
           gap: 0;

        }
        .nav ul a{
            padding: 1vw;
        }
        .content h1{
            font-size: 1.6rem;
        }
        .content p{
            min-width: 20vw;
            font-size: 14px;
        }
        .welcome-img,.welcome-img img{
            width: 30vw;
            
        }
        .action{
            height: 5vh;
            
        }
    }